# Copy this file to .env and set the real values. Do NOT commit your real .env to VCS.
# Example environment variables used by the project

# Webhook for market pulse images
MARKET_PULSE_WEBHOOK=

# Webhook top gainers/losers
DAY_CHANGE_WEBHOOK=

# Webhook for market breadth data
MARKET_BREADTH_WEBHOOK=

# Webhook for hourly top open interest changes
OI_CHANGE_WEBHOOK=

# Webhook for pipeline errors observability report
PIPELINE_ERRORS=

# COIN MARKET CAP API
cmc_api_key=

# AWS Region (if using AWS services)
AWS_REGION=

# Optional: other secrets (API keys, etc.) can go here
# BINANCE_API_KEY=
# BINANCE_API_SECRET=


